*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif !important;
  background: url(https://i.imgur.com/sJBVvbc.jpg) center center no-repeat !important;
  background-size: cover !important;
  position: relative;
  margin: 0;
  padding-bottom: 16rem;
  min-height: 100%;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  text-align: center;
  margin-left: 'auto';
  margin-right: 'auto';
}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 30px;
}

.calc-width {
  width: 100px !important;
  margin: 0 auto !important;
}

.submit-button {
  margin-top: 10px;
}

.result {
  padding-top: 15px;
}

table {
  box-shadow: 0 1px 3px rgba(0,0,0,0.2)
}

thead {
  font-weight: 900;
  color: #ffffff;
  background: #2980b9;
}

tr {
  text-align: left;
}

.empty {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.span-padding-right {
  padding-right: 5px;
}

.glyphicon {
  cursor: pointer;
}

.job-edit-top {
  margin-top: 20px;
}

.text-align-center {
  text-align: center;
}

.edit-save-button {
  margin-right: 10px;
}

.set-width {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 20px;
}

.notes {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Slider styles */
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

.control-label {
  margin-right: 10px;
}

.width-65 {
  width: 65px !important;
}
